.presentatrice {
  box-shadow: 0px 0px 50px #ff88ba38;
}
.ambassadrice {
  box-shadow: 0px 0px 50px #6b962a60;
}
.contact {
  box-shadow: 0px 0px 50px #97ceca79;
}
.kaart-button {
  padding-left: 60px;
  padding-right: 60px;
}

.kaart {
  transform: translateY(0px);
  transition: transform 0.8s;
}

.kaart:hover {
  transform: translateY(-20px);
  transition: transform 0.8s;
}
@media only screen and (max-width: 750px) {
  .kaart {
    transform: none;
    transition: none;
  }

  .kaart:hover {
    transform: none;
    transition: none;
  }
}
