.presentatrice {
  box-shadow: 0px 0px 50px #ff88ba38;
}
.ambassadrice {
  box-shadow: 0px 0px 50px #6b962a46;
}
.contact {
  box-shadow: 0px 0px 50px #97ceca65;
}
.kaart-button {
  padding-left: 60px;
  padding-right: 60px;
}
